/*Load all custom fonts using fontface*/
@font-face {
    font-family: 'capsuular';
    src: url('../assets/fonts/Capsuula-webfont.eot');
    src: url('../assets/fonts/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Capsuula-webfont.woff') format('woff'),
         url('../assets/fonts/Capsuula-webfont.ttf') format('truetype'),
         url('../assets/fonts/Capsuula-webfont.svg#capsuularegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'antipasto';
    src: url('../assets/fonts/Antipasto_regular.otf') format('opentype');
    font-weight: normal;
}
@font-face{
    font-family: 'bandy';
    src: url('../assets/fonts/bandy.TTF') format('truetype');
    font-weight: bold;
}
.capsula{
    font-family: 'capsuular';
}
.antipasto{
    font-family: 'antipasto';
}
.bandy{
    font-family: 'bandy';
}
/*End of custom fonts*/
#logo{
    position: absolute;
    top:2.5%;
    left: 2.5%;
    max-width: 100%;
    max-height: 100%;
}
#landing{
    background: url('../assets/images/bg_buildings.jpg') no-repeat fixed center;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    text-align: center;
    color: #f2bb3b;
    font-size: 2em;
    font-family: 'antipasto';
}
.title{
    width: 40%;
    z-index: 7;
}
.title h3{
    position: relative;
    top: 50;
    left: 50;
    margin-top: 30%;
}
.overlay a{
    margin: 1.5em;
}
.overlay h2{
    color:#f2bb3b;
    letter-spacing: 3px;
    font-family: 'bandy';
}
/*Hover effect starts here*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlayimg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/*hover effect for images ends here*/
#about{
    background: url('../assets/images/citybg.jpg');
}
#about h5{
    font-family: 'bandy';
}
.about-sections{
    font-family: 'antipasto';
    text-align: center;
    font-size: 1.5em;
}
.about-sections:hover{

}
#mission{
/*    background: #00b5e2;*/
    height: 100%;
    padding: 10% 2% 20% 2%;
}
#abt{
/*    background: #e29e00;*/
    height: 100%;
    padding: 10% 2% 20% 2%;

}
#vision{
/*    background: #e20044;*/
    height: 100%;
    padding: 10% 2% 20% 2%;
}
#textarea1{
    height: 15em;
    overflow: auto;
}

#socialmedia ul{
    list-style-type: none;
    width: 100%;
    text-align: center;

}
#socialmedia li{
    width: 11em;
    display: block;
    text-align: center;
    margin: 0 auto;
}
#socialmedia a{
    width: 3em;
    text-decoration: none;
    color: #e29e00;
    font-size: 2.5em;
    text-align: center;
    margin-top: 30%;
}
/*hover effect on social media links*/
span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #e29e00;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: #e29e00;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #e29e00;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
/*end of hover effects on social media links*/



